<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243688042026-h5gm7c0f3n368rtqpn4ene9fsodmhhfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243688042026-h5gm7c0f3n368rtqpn4ene9fsodmhhfl</string>
	<key>API_KEY</key>
	<string>AIzaSyDOFboAA3N8K9GF5KF_LDUTZHqSLkPevdY</string>
	<key>GCM_SENDER_ID</key>
	<string>243688042026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cidqu.kimyapp</string>
	<key>PROJECT_ID</key>
	<string>kimyatubitak</string>
	<key>STORAGE_BUCKET</key>
	<string>kimyatubitak.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243688042026:ios:32fe5871d5961a5d745d53</string>
	<key>DATABASE_URL</key>
	<string>https://kimyatubitak-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>